.slider {
	margin-top: 40px;
	margin-left: 100px;

	.slider__img:nth-child(1) {
		background-image: url(../img/slide1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 670px;
        height: 500px;
        float: left;
	}

	.slider__img:nth-child(2) {
		background-image: url(../img/slide2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 580px;
        height: 370px;
        float: right;
        margin-bottom: 40px; 
	}

	.slider__img:nth-child(3) {
		background-image: url(../img/slide3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 580px;
        height: 370px;
        float: right;
        
	}

	.slider__info {
		font: 24px/1 Lato,Helvetica,sans-serif;
		color: $colorAccent;
		margin-top: 15px;
		display: inline-block;
	}

	.slider__title {
		font: 40px/1 Lato,Helvetica,sans-serif;
		color: $colorDark;
		margin-top: 15px;
	}

	.slider__text {
		font: 16px/1.2 Lato,Helvetica,sans-serif;
		color: #7b797b;
		margin-top: 15px;
	}

	.slider__botton {
		margin-top: 30px;
        transition: all 0.3s;
		&:hover {
			opacity: 0.7;
		}

		.slider__btn {
			font: 18px/1.2 Lato,Helvetica,sans-serif;
			border: 1px solid #7b797b;
			color: #7B797B;
			text-decoration: none;
			padding: 10px 30px;
			
		}
	}
}